@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

/* Page setup */
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: gray;
}

/* Navbar */
header {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 50px;
  width: 100%;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px;
}

/* nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
} */

nav a:hover {
  color: blue;
  transform: scale(1.15);
  transition: 0.3s;
}

nav a i {
  font-size: x-large;
}

/* Main layout */

h2 {
  padding: 1rem 0;
}

section {
  background-color: red;
  padding: 10% 0;
  width: 80%;
  margin: auto;
}

/* Projects */
#projects {
  padding-bottom: 4%;
}

.project-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
}

.project-container a {
  color: black;
  text-decoration: none;
}

.project-card {
  display: flex;
  background-color: green;
}

.project-card:hover {
  background-color: white;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.4s;
}
.project-card img {
  flex: 0.75;
}

.project-card-description {
  flex: 1;
  padding: 0 2%;
}

.project-card-description h3 {
  margin: 5% 0;
  padding-bottom: 5%;
}

.project-card-tools {
  flex: 0.25;
  text-align: center;
  background-color: violet;
}

.project-card-tools p {
  margin: 20% 0;
  padding-bottom: 5%;
}

.project-card-tools ul {
  margin: 0;
  padding: 0;
}

.project-card-tools li {
  list-style: none;
  padding: 5%;
}
